<!doctype html>
<html lang="en" ng-app="GodsEye" ng-cloak>

<head>
    <% include ./head.ejs -%>
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>">

    <!--meta tag for Facebook OpenGraph -->
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="<%= type %>" />
    <meta property="og:url" content="<%= url %>" />

</head>


<body>
    <div class="text-center">
        <div class="header containter">
           <% include ./header.ejs %> 
        </div>
        <div class="content text-center fixed-width" > <!-- container-fluid -->
            <%- body %>
        </div>
       
    </div>
</body>

</html>