<!doctype html>
<html lang="en" ng-app="GodsEye" ng-cloak>

<head>
    <% include ./head.ejs -%>
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>">

    <!--meta tag for Facebook OpenGraph -->
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="<%= type %>" />
    <meta property="og:url" content="<%= url %>" />

</head>


<body>
    <div class="text-center">
        <div class="header containter">
           <% include ./header.ejs %> 
           <div class="page-header header-filter clear-filter" id="page-header-index" data-parallax="true" style="background-image: url('lib/assets/img/bg0001.jpg');">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- <div class="brand">
                    <h1>Hẻm
                      <div class="pro-badge">
                        Security
                      </div>
                    </h1>
            
                    <!-- <h3 class="title">All Components</h3> -->
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        <div class="content text-center fixed-width" > <!-- container-fluid -->
            <%- body %>
        </div>
       
    </div>
</body>
<style>
    #page-header-index{
        height:65vh;
        
    }

</style>
</html>