<!doctype html>
<html lang="en">

<head>
    <% include ./head.ejs -%>
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>">
   
    <!--meta tag for Facebook OpenGraph -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:image" content="<%= photo %>" />
	<meta property="og:description" content="<%= description %>" />
</head>

<body>
    <div class="text-center">
        <div class="header">
            <% include ./header.ejs %>
        </div>
        <div class="content" style="margin-top:100px">
            <%- body %>
        </div>
        <div class="footer" style="margin-top:20px">
            <% include ./footer.ejs %>
        </div>
    </div>
</body>

</html>