<!doctype html>
<html lang="en" ng-app="GodsEye" ng-cloak>

<head>
    <% include ./head.ejs -%>
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>">
    
    <!--meta tag for Facebook OpenGraph -->
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="<%= type %>" />
    <meta property="og:url" content="<%= url %>" />

</head>
<style>
@media only screen and (max-width:767px) {
    .fixed-width{
        width: auto;
    }
}
@media only screen and (min-width:768px) {
    .fixed-width{
        /* width: 1196px; */
    }
}
</style>
<body>
    <div class="text-center">
        <div class="header containter">
            <% include ./header.ejs %>
        </div>
        <div class="content text-center container-fluid fixed-width" style="margin-top:70px; ">
            <%- body %>
        </div>
        <div class="footer text-center fixed-width" style="margin-top:20px">
            <% include ./footer.ejs %>
        </div>
    </div>
</body>

</html>